*{
    margin: 0;
    padding: 0;
}

a{
    color: rgb(46, 86, 119);
    text-decoration-line: none;
}

.letra{
    color: rgb(46, 86, 119);
    font-family: 'Montserrat', sans-serif;
}


body{

    height: 2200px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pai{

    border-radius: 60px;

    width: 80%;
    height: 95%;

    display: grid;
    grid-template-rows: 20% 25% 25% 25% 5%;  

    background: linear-gradient(270deg,rgb(46, 86, 119),LightBlue);
}

/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/*parte destinada ao head*/
#head{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 1% 66% 33%;
}


#logo{
    grid-area: 2/1/3/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Nome{
   grid-column: 2/3;
   grid-row: 2/3; 


   display: grid;
   grid-template-rows: 50% 50%;
}
#viagens{
    grid-area: 1/1/2/2;

    font-family: 'Montserrat', sans-serif;
    font-size: 300%;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}
#Inesqueciveis{
    grid-area: 2/1/3/2;

    font-family: 'Montserrat', sans-serif;
    font-size: 250%;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

#auxinfor{
    grid-area: 2/3/3/4;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#infor{

    width: 70%;
    height: 15%;

    border-radius: 40px;

    background-color: white;

    color: rgb(46, 86, 119);
    font-family: 'Montserrat', sans-serif;
    font-size: 125%;

    display: flex;
    align-items: center;
    justify-content: center;

}


#auxhelp{
    grid-area: 2/4/3/5;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#help{

    width: 40%;
    height: 15%;

    border-radius: 40px;   
    
    background-color: white;

    color: rgb(46, 86, 119);
    font-family: 'Montserrat', sans-serif;
    font-size: 125%;

    display: flex;
    justify-content: center;
    align-items: center;
}


.cbp{
    border-radius: 40px;
    background-color: white;

    width: 80%;
    height: 40%;

    font-family: 'Montserrat', sans-serif;
    font-size: 200%;
    color: rgb(46, 86, 119);

    display: flex;
    justify-content: center;
    align-items: center;
}
#auxcbp1{
    grid-area: 3/1/4/2;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#asia{
    background-image: url(../imagens/outros/gettyimages-1390815938.jpg);
    background-repeat: no-re;
}

#auxcbp2{
    grid-area: 3/2/4/3;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
#auxcbp3{
    grid-area: 3/3/4/4;

    display: flex;
    justify-content: center;
    align-items: center;
}
#auxcbp4{
    grid-area: 3/4/4/5;

    display: flex;
    justify-content: center;
    align-items: center;
}



/*----------------------------------------------------------------------------------------------------------------------------------------------*/
/*parte destinada ao main1*/
#main1{
    display: grid;
    grid-template-rows: 25% 75%;
}


#auxcmz{
    grid-area: 1/1/2/2;

}
#cmz{

    position: relative;
    left: 60px;
    top: 21.5px;
    
    z-index: 1;

    width: 90%;
    height: 60%;

    border-radius: 40px;

    background-color:  #d9d9d9;

    font-size: 300%;
    font-family: 'Montserrat', sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
}
#oferta{

    position: relative;
    left: 60px;
    bottom: 57px;

    z-index: 0;

    width: 90%;
    height: 60%;

    border-radius: 40px;

    background-color: white;

    display: flex;
    flex-direction: row;
}
#imgbha1{
    width: 25%;
    height: 100%;

    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;

    background-image:url(../imagens/outros/bahamas1.jpg);

    background-repeat: no-repeat;

    z-index: 0;
}
#imgbha2{
    width: 25%;
    height: 100%;

    background-image:url(../imagens/outros/bahamas2.jpg);

    background-repeat: no-repeat;

    z-index: 0;
}
#ofertabha{
    z-index: 0;

    font-family: 'Montserrat', sans-serif;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
#bahamas{
    color: green;
    font-size: 200%;
}
#cmz:hover{
    animation: cmz 2s forwards;
}

@keyframes cmz{
    0%{
        opacity: 100%;
        background-color: #D9D9D9;
    }
    100%{
        opacity: 0%;
        background-color: green;
    }
}



#auxcgb{
    grid-area: 2/1/3/2;

    display: flex;
    justify-content: center;
    align-items: center;
}
#cgb{
    width: 90%;
    height: 90%;

    border-radius: 40px;

    background-color: white;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

#imgcbg{
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;

    grid-area: 1/1/2/2;
    background-image: url(../imagens/outros/torres.jpeg);
    background-repeat: no-repeat;
}

#cadastro{
    grid-area: 1/2/2/3;

    display: grid;
    grid-template-rows: 20% 10% 70%;
    grid-template-columns: 30% 40% 30%;
}

#cadescri{
    grid-area: 1/2/2/3;

    color:  rgb(46, 86, 119);
    font-family: 'Montserrat', sans-serif;
    font-size: 180%;

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

#cadescri2{
    grid-area: 2/2/3/3;

    color:  rgb(46, 86, 119);
    font-family: 'Montserrat', sans-serif;
    font-size: 120%;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

#formulario{
    grid-area: 3/1/4/4;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

#nome{
    grid-area: 1/1/2/2;

    display: flex;
    justify-content: center;
    align-items: center;
}

#e-mail{
    grid-area: 2/1/3/2;

    display: flex;
    justify-content: center;
    align-items: center;
}

#botao{
    grid-area: 3/1/4/2;

    display: flex;
    justify-content: center;
    align-items: center;
}

.infor{
    background-color: lightblue;
    border-radius: 10px;
}
.formescri{
    font-family: 'Montserrat', sans-serif;
}
#voar{
    font-family: 'Montserrat', sans-serif;

    width: 300%;
    height: 300%;

    color: black;
}




/*----------------------------------------------------------------------------------------------------------------------------------------------*/
/*paret destinada ao main2*/
#main2{
    display: grid;
    grid-template-rows: 15% 75% 10%;
    grid-template-columns: 100%;
}

#auxclz{
    grid-area: 1/1/2/2;

    display: flex;
    justify-content: center;
    align-items: center;
}
#clz{
    width: 50%;
    height: 50%;

    border-radius: 40px;

    background-color: #D9D9D9;

    font-size: 200%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#auxviaint{
    grid-area: 2/1/3/2;

    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100%;
}
#auxcairo{
    grid-area: 1/1/2/2;

    display: flex;
    align-items: center;
    justify-content: center;
}

#cairo{
    display: grid;
    grid-template-rows: 70% 30%;
}

#imgcairo{
    grid-area: 1/1/2/2;

    border-top-left-radius: 40px;
    border-top-right-radius: 40px;

    background-image: url(../imagens/outros/landscape-5584652_1280.jpg);
    background-repeat: no-repeat;
}

#escricairo{
    font-size: 150%;
    font-family: 'Montserrat', sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cairoverde{
    color: green;
    font-size: 180%;
    font-family: 'Montserrat', sans-serif;
}

#auxucrania{
    grid-area: 1/2/2/3;

    display: flex;
    align-items: center;
    justify-content: center;
}

#ucrania{
    display: grid;
    grid-template-rows: 70% 30%;
}

#imgucrania{
    grid-area: 1/1/2/2;

    border-top-left-radius: 40px;
    border-top-right-radius: 40px;

    background-image: url(../imagens/outros/ukraine-720233_1280.jpg);
    background-repeat: no-repeat;
}

#escriucrania{
    font-size: 150%;
    font-family: 'Montserrat', sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#ucraniaverde{
    color: green;
    font-size: 180%;
    font-family: 'Montserrat', sans-serif;
}

#auxparis{
    grid-area: 1/3/2/4;

    display: flex;
    align-items: center;
    justify-content: center;
}
#paris{
    display: grid;
    grid-template-rows: 70% 30%;
}
#imgparis{
    grid-area: 1/1/2/2;

    border-top-left-radius: 40px;
    border-top-right-radius: 40px;

    background-image: url(../imagens/outros/eiffel-tower-3349075_640.jpg);
    background-repeat: no-repeat;
}
#escriparis{
    font-size: 150%;
    font-family: 'Montserrat', sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#parisverde{
    color: green;
    font-size: 180%;
    font-family: 'Montserrat', sans-serif;

}

#auxtokyo{
    grid-area: 1/4/2/5;

    display: flex;
    align-items: center;
    justify-content: center;
}

#tokyo{
    display: grid;
    grid-template-rows: 70% 30%;
}

#imgtokyo{
    grid-area: 1/1/2/2;

    border-top-left-radius: 40px;
    border-top-right-radius: 40px;

    background-image: url(../imagens/outros/night-4336403_1280.jpg);
    background-repeat: no-repeat;
}

#escritokyo{
    font-size: 150%;
    font-family: 'Montserrat', sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#tokyoverde{
    color: green;
    font-size: 180%;
    font-family: 'Montserrat', sans-serif;
}




/*trabalhando com cada viagen depois de ter preparados suas devidas posiçoes*/

.int{
    width: 90%;
    height: 95%;

    background-color: #D9D9D9;

    border-radius: 40px;
}

/*---------------------------------------------------------------------------*/

#auxmo{
    grid-area: 3/1/4/2;

    display: flex;
    justify-content: center;
    align-items: center;
}
#mo{
    height: 75%;
    width: 20%;

    border-radius: 40px;

    background-color: #D9D9D9;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 150%;
    font-family: 'Montserrat', sans-serif;
}




/*------------------------------------------------------------------------------------------------------------------------------------------------*/
/*parte destinada ao main 3*/
#main3{
    display: grid;
    grid-template-rows: 10% 70% 10% 10%;
    grid-template-columns: 100%;
}

#auxclz2{
    grid-area: 1/1/2/2;

    display: flex;
    justify-content: center;
    align-items: center;
}
#clz2{
    width: 50%;
    height: 70%;

    border-radius: 40px;

    font-size: 200%;

    background-color:#D9D9D9;
}

#auxcgb2{
    grid-area: 2/1/3/2;

    display: flex;
    justify-content: center;
    align-items: center;
}
#cgb2{
    width: 90%;
    height: 95%;

    border-radius: 40px;

    background-color: white;
}

#auxclz3{
    grid-area: 3/1/4/2;

    display: flex;
    justify-content: center;
    align-items: center;
}
#clz3{
    width: 50%;
    height: 70%;

    border-radius: 40px;

    background-color:#D9D9D9;
}

#auxsocial{
    grid-area: 4/1/5/2;
}


/*----------------------------------------------------------------------------------------------------------------------------------------------*/
/*parte destindada ao bottom*/
#bottom{
    border: 1px black solid;
}

